/* Typography */
.title {
  font-family: poppins;
  font-size: 5rem;
  font-weight: bold;
  color: white;
}

.bigHeading {
  font-family: poppins;
  font-size: 2.0rem;
  font-weight: bold;
}

.smallHeading {
  font-family: poppins;
  font-size: 1.4rem;
  font-weight: bold;
}

.text {
  font-family: Poppins;
  font-size: 1.1rem;
  line-height: 2;
  padding-top: 10px;
}




/* Header */
.header {
  background-color: white;
  padding: 0% 7%;
  border-top: solid;
  border-bottom: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: black;
  font-family: Quintessential;
  font-size: 1.3rem;
  position: -webkit-sticky;
  position: sticky;

  z-index: 4;
  top: 0;
}

.navbar {
  padding: 0;
}

.container-fluid {
  padding: 0;
}

.nav-item {
  padding: 0 0 0 40px;
  font-weight: bold;
}

.nav-link {
  color: black;
  padding: 0 0 0 40px;
  font-weight: bold;
}

.nav-link:hover {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

/* Background Section */
#background {
  padding: 5% 7% 0%;
  background-image: url("images/backgroundPic.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
}


.backgroundTextColumn {
  align-items: center;
  flex: auto;
  margin-top: 100px;
}

.joshuaPic {
  width: 100%;
}



/* Features Section */
#features {
  padding: 7% 7% 7%;
  background-color: white;
  text-align: left;
}

.featuresTitleContainer {
  text-align: center;
  padding-bottom: 20px;
}

.websitePic {
  padding-top: 50px;
  width: 95%;
}

.websitePic:hover{
  transform: scale(1.1);
}

.tick {
  padding: 0px 10px 0px 0px;
  vertical-align: middle;
}

.tickText {
  display: inline-block;
  font-family: Poppins;
  font-size: 1.1rem;
  padding-top: 3px;
}

.buttonContainer {
  padding-top: 20px;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 70%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

.methodRow {
  padding: 20px 5px;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }

  .popup {
    width: 70%;
  }
}

/* Method Section */
.methodTitleContainer {
  padding: 10% 7% 10%;
  background-image: url("images/backgroundPic.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.methodContentContainer {
  padding: 7% 7% 7%;

  align-items: center;

  background-color: white;
  position: relative;
  z-index: 0;
}

.methodRow {
  border-style: solid;
  border-width: medium;
  border-color: #C2D8EB;
  border-radius: 20px;
  padding: 20px ;
  margin: auto;
  width: 100%;
}

.methodRow:hover{
  border-color: black;
  transform: scale(1.02);
}

.splitmethodRow {
  border-style: solid;
  border-width: medium;
  border-color: #C2D8EB;
  border-radius: 20px;
  padding: 30px 0px;
  margin: auto;
  width: 90%;
}

.methodPic {
  width: 100%;
  border-radius: 20px;
}

.skillpicColumn{
  flex: auto;
}

/* Case Studies Section */

.case-studiesTitleContainer {
  padding: 10% 7% 10%;
  background-image: url("images/backgroundPic.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.case-studiesContentContainer {
  padding: 7% 7% 0%;
  align-items: center;
  background-color: white;
  text-align: center;
}

.case-studiesColumn{
  border-style: solid;
  border-width: medium;
  border-color: #C2D8EB;
  border-radius: 20px;
  width: 45%;
  margin: 0 auto 60px;
  padding: 30px;
}

.case-studiesColumn:hover{
  border-color: black;
  transform: scale(1.02);
}

@media (max-width: 990px) {

  .case-studiesColumn{
    width: 100%;
  }

    .text{
    font-size: 18px;
  }


.case-studiesPic{
  width: 100%
}

.case-studiesButton{
  margin: 0 5px;
}
  }


/* Testimonials Section */

#testimonials {
  padding: 10% 7% 10%;
  background-image: url("images/backgroundPic.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.carousel-item{
  padding: 0% 15%;
}

.testimonial-text{
  font-size: 2.3rem;
  line-height: 1.5;
}

.testimonial-image{
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-button{


}

.carousel-icon{
  height: 50px;
  width: 50px;
  filter: invert(100%);
  border-radius: 15px;
}



/* Contact Section */
#contact {
  padding: 2% 7%;
  background-color: #fff;
  text-align: center;
  border-top: solid;
  border-bottom: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: black;

}

.emailColumn{
  text-align: left;
  margin: auto 0;
}

.socialmediaPic{
  margin: 0 15px;
  width: 50px;
}

.whatsappColumn{
  text-align: right;
  margin: auto 0;
}

@media (max-width: 990px) {

  .emailColumn{

  }


  .whatsappColumn{

  }

}
